/*INTRODUCTION*/

.titles {
    background-color: rgba(54, 64, 200, 0.35);
    border-radius: 3px;
    margin: 28px 10px 28px 10px;
    display: flex;
    flex-direction: column;
}

.titles h1 {
    font-size: 35px;
    color: white;
    text-align: center;
}

.titles p {
    font-size: 20px;
    color: white;
    text-align: center;
}

