body {
  background-color: white;
}

h1 {
  font-size:40px;
  font-family:monospace;
  text-align:center;
  color: azure;
  text-shadow:1px 1px black;
}

h2 {  
  font-size:30px;
  font-family:fantasy;
  text-align:left;
  color: antiquewhite;
  text-shadow:1px 1px black;
}

p {
  font-size: 25px;
  border: solid 3px;
  border-color: black;
  border-radius: 100px;
  text-align: center;
}

img {
  height: 300px;
  width: 200px;
}
